body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.create-blog {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.create-blog img {
  width: 75px;
}
.blog-container {
  max-width: 1350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.blog-div {
  display: flex;
  justify-content: space-between;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f2f2f2;
  background-size: cover;
  background-image: url("../public/images/backgroundImage.jpg");
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.form-container span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 15px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
}

.login-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-input,
select {
  height: 30px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 8px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.title-input {
  height: 60px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 8px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.description-input {
  height: 200px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 8px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-sizing: content-box;
}

.input-field {
  height: 30px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
}
.input-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

button {
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 20px;
  background: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.3;
  margin: 30px;
}
button.filled {
  opacity: 1;
}

.text-input {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.eye-icon {
  position: absolute;
  cursor: pointer;
  bottom: 25px;
  right: 35px;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
  padding-left: 15px;
}
.header h1 {
  text-decoration: underline;
  cursor: pointer;
}
.back-arrow {
  width: 50px;
  padding: 30px;
  cursor: pointer;
}

.logout-button {
  margin: 0 30px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 20px;
  background: #5e92e6;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
}
.delete-button {
  margin: 0 30px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 20px;
  background: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}
.update-button {
  margin: 0 30px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px 20px;
  background: green;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}
.home-container {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d77,
    #008590,
    #00bc73,
    #afe82f
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.portals-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-flow: row wrap;
}
.portals-container::-webkit-scrollbar {
  display: none;
}
.portal-container {
  margin: 15px;
  max-width: 500px;
  width: 100%;
  flex: 1;
  height: 450px;
  background-color: #537cbd;
  border-radius: 10px;
}
.portal-container div {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.portal-container p {
  font-size: min(20px, 2.5vw);
  width: 65%;
  text-align: left;
}
.portal-container h1 {
  font-weight: bold;
  font-size: min(25px, 3vw);
}

.popup-container {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.popup-div {
  padding: 20px !important;
  max-width: 700px;
  width: 100%;
  padding: 0 50px;
  border-right: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.cancel-button {
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  margin: 5px 20px 0 auto;
}
.input-div p {
  font-weight: bold;
  font-size: min(25px, 3vw);
}
.input-container {
  width: 100%;
}
.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
